@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

.animate-fadeIn {
  animation: fadeIn 5s ease-out forwards;
}

.animate-scroll {
  animation: scroll 50s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
